# -----------------------------
# 编译后的产物 (非常重要)
# -----------------------------
out/
target/
build/
*.class

# -----------------------------
# IntelliJ IDEA 配置文件 (非常重要)
# -----------------------------
.idea/
*.iml
*.iws
*.ipr

# -----------------------------
# 打包文件和日志
# -----------------------------
*.jar
*.war
*.zip
*.tar.gz
*.log

# -----------------------------
# 操作系统自动生成的隐藏文件
# -----------------------------
.DS_Store
Thumbs.db